<div class="product-details" *ngIf="product">
    <!--Header-->
    <div class="sticky-top header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 header-left">
                    <div class="mx-xl-5 ps-xl-5 mx-lg-3">
                        <span class="about-product">About Product</span>
                    </div>
                </div>
                <div class="col-md-5 header-right">
                    <app-buy-now [product]="product"></app-buy-now>
                </div>
            </div>
        </div>
    </div>
    <!--Body-->
    <div class="mt-lg-0 mt-5 details">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-2 details-right">
                    <app-product-images [images]="product.images"></app-product-images>
                </div>
                <div class="col-lg-7 order-lg-1 details-left">
                    <div class="mx-xl-5 ps-xl-5 mx-lg-3 my-5 pb-5 detail">
                        <span class="about-product">About Product<br></span>
                        <p class="brand">{{product.brand}} Product</p><br>
                        <p class="name">{{product.name}}</p>
                        <p class="tagline">{{product.tagline}}</p>
                        <ul class="description">
                            <li *ngFor="let point of product.description.split('*')">{{point}}</li>
                        </ul><br>
                        <p class="model">{{product.model}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container buy-now-bottom">
        <app-buy-now [product]="product"></app-buy-now>
    </div>
</div>
<!-- Order status modal -->
<div #modal id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row justify-content-center modal-body">
                <div class="col text-center">
                    <img src="assets/images/purchase-success.png"><br><br>
                    <p class="success-title">Purchase Successful</p><br>
                    <p class="success-message">You will get your product soon!<br><br> Get ready to experience the spatial audio with adaptive EQ that tunes music to your ears.</p>
                </div>
            </div>
        </div>
    </div>
</div>