@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// max screen width
$screen-width-lg: 991px;
$screen-width-md: 719px;
$screen-width-sm: 575px;
$screen-width-xs: 375px;
// navbar heights
$contact-height-lg: 44px;
$contact-height-sm: 40px;
$navbar-height-lg: 92px;
$navbar-height-sm: 64px;
// background colors
$bg-color-light: #ffffff;
$bg-color-dark: #020202;
$bg-color-secondary: #F5F7FF;
// mixins
@mixin font-setting($font-weight,
$font-size,
$line-height,
$font-color: #000000) {
    font-family: 'Poppins', sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $font-color;
    line-height: $line-height;
}