@import 'src/assets/_variables';
.navbar {
    top: $contact-height-lg;
    height: $navbar-height-lg;
    background-color: $bg-color-light;
    padding: 0;
    z-index: 1;
}

.container {
    background-color: $bg-color-light;
}

.navbar-toggler {
    border: none;
    &:focus {
        border: solid 1px grey;
        box-shadow: none;
    }
}

.nav-link {
    @include font-setting(600, 14px, 21px);
    &:hover {
        transform: scale(1.02);
    }
}

@media screen and (max-width: $screen-width-lg) {
    .navbar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: $screen-width-md) {
    .navbar {
        position: sticky;
        top: $contact-height-sm;
        height: $navbar-height-sm;
    }
    .navbar-toggler,
    img {
        transform: scale(0.6);
    }
    .nav-link {
        @include font-setting(500, 12px, 18px)
    }
}